<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
		        	<li><a href="/about">about</a></li>
	        		<li><a href="/portfolio">portfolio</a></li>
	        		<li><a href="/blog">blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:technotrumpet@outlook.com">email</a></li>
	        		<li><a href="https://github.com/technotrumpet">github.com/technotrumpet</a></li>
				<li><a href="https://github.com/technotrumpet/technotrumpet.github.io">view this page on GitHub</a></li>
				<li><a href="https://gitlab.com/technotrumpet">gitlab.com/technotrumpet</a></li>
				</ul>
				<center><a title="Web Analytics" href="http://clicky.com/101043534"><img alt="Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(101043534); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101043534ns.gif" /></p></noscript></center>
			</footer>
		</body>
	</html>
